* {
  margin: 0;
  padding: 0;
}

#titulo {
  font-family: sans-serif;
  color: purple;
  margin-left: 7%;
}

#subtitulo {
  font-family: sans-serif;
  color: purple;
  margin-left: 10%;
}

fieldset {
  border: 0;
}

body {
  background-color: rgb(146, 143, 140);
  font-family: sans-serif;
  font-size: 1em;
  color: black;
  margin-left: 36%;
  margin-top: 5%;
  justify-content: center;
}

input,
select,
textarea,
button {
  border-radius: 5px;
}

.campo {
  margin-bottom: 1em;
}

.campo label {
  margin-bottom: 0.2em;
  color: black;
  display: block;
}

fieldset.grupo .campo {
  float: left;
  margin-right: 1em;
}

.campo input[type="texto"],
.campo input[type="email"],
.campo select,
.campo textarea {
  padding: 0.2em;
  border: 1px solid black;
  box-shadow: 2px 2px 2px;
}

.campo select option {
  padding-right: 1em;
}

.campo input:focus,
.campo select:focus,
.campo textarea:focus {
  background-color: pink;
}

.botao {
  font-size: 1.2em;
  background: powderblue;
  border: 0;
  margin-bottom: 1em;
  color: white;
  padding: 0.2em 0.6em;
  box-shadow: 2px 2px 2px;
  text-shadow: 1px 1px 1px;
  position: absolute;
  top: 90%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.botao:hover {
  background: yellow;
  box-shadow: inset 2px 2px 2px;
  text-shadow: none;
}
